<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Conteúdo Protegido</title>
  </head>
  <body>
    <h1>Conteúdo Protegido</h1>
    <pre><%= JSON.stringify(data, null, 2) %></pre>
    <p>
      <a href="/">Voltar para a página inicial</a>
    </p>
  </body>
</html>
