<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo list</title>
</head>
<body>
    <h1>New task</h1>
    <form action="/" method="POST">
        <Label for="description">Description</Label>
        <input type="text" name="description">
        <button type="submit">Save</button>
    </form>
    <br>
    <a href="/">home</a>
</body>
</html>