<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/style.css">
    <title>ToDo list</title>
</head>
<body>
    <h1>New task</h1>
    <form action="/" method="POST">
        <Label for="description">Description</Label>
        <input type="text" name="description">
        <button type="submit" class="btn waves-effect waves-light">Save</button>
    </form>
    <a href="/" class="btn waves-effect waves-light">home</a>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>