<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ToDo list</title>
</head>
<body>
    <h1>ToDo List</h1>
    <table>
        <thead>
            <th>
                Task
            </th>
            <th>
                Status
            </th>
            <th>
                Action
            </th>
        </thead>
        <tbody>
            <% lista.forEach(task => { %>
                <tr>
                    <td><%= task.descricao %> </td>
                    <td> pendente </td>
                    <td> feito </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <a href="/novaTarefa">New task</a>
</body>
</html>