<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ToDo list</title>
</head>
<body>
    <h1>ToDo List</h1>
    <table>
        <th>
            <td>
                Task
            </td>
            <td>
                Status
            </td>
            <td>
                Action
            </td>
        </th>
        <tr>
            <td> tarefa 1</td>
            <td> pendente </td>
            <td> feito </td>
        </tr>
    </table>
    <a href="/novaTarefa">New task</a>
</body>
</html>